<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jins.dao.JobTypeDao">
	<insert id="insert">
		insert into jobtype (typeName)values
		(#{typeName})
	</insert>

	<delete id="delete">
		delete from jobtype where id = #{id}
	</delete>

	<update id="update">
		update jobtype set typeName = #{typeName} where id =
		#{id}
	</update>

	<select id="findById" resultType="com.jins.entity.JobType">
		select * from jobtype where id
		= #{id}
	</select>

	<select id="findAll" resultType="com.jins.entity.JobType">
		select * from jobtype
	</select>
</mapper>